@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
html {
  all: unset;
  scroll-behavior: smooth;
}

body {
  background-color: #121112;
  color: #ffffff;
  margin: 0%;
}

@media (prefers-color-scheme: light) {
  body {
    color: #121112;
    background-color: #ffffff;
  }
}

a {
  color: #ff8564;
  text-decoration: none;
  /* border-bottom: 1px dashed; */
  font-weight: bold !important;
}

main {
  text-align: center;
}

header > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 2em;
  padding: 10px;
  border-radius: 50px;
}

header > ul > li {
  list-style: none;
}

a {
  display: inline-flex;
  gap: 20px;
  align-items: center;
}

header > ul > li > a {
  padding: 10px 10px;
  border-radius: 40px;
  border: 2px solid #fafafa;
  background: #252525;
  box-shadow: 2px 2px #fafafa;
  margin: auto;
  cursor: pointer;
}

.container {
  padding-left: 3rem;
  padding-right: 3rem;
}

.container-right {
  text-align: right;
  padding-right: 10px;
}
.container-center {
  text-align: center;
}

h1 {
  font-size: 3rem !important;
}

h4 {
  font-size: 2rem;
}

body {
  font-family: "DM Mono", monospace !important;
}

.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}

.box {
  text-align: center;
  border: 3px solid rgb(219, 219, 219);
  padding: 9px;
  width: 100%;
  height: 200px;
  position: relative;
  border-radius: 10px;
}
@media only screen and (min-width: 768px) {
  .box {
    width: 400px;
  }
}
.button {
  all: unset;
  color: aliceblue;
  background: #ff8564;
  border-radius: 3px;
  padding: 1em 2em;
  margin-top: 5px;
  margin-left: 20px;
  font-size: 18px;
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;
  transition: all ease-in 0.1s;
  transition: transform ease 0.2s, box-shadow ease 0.2s;
  border-bottom: 6px #bb634b solid;
}
.secondary {
  all: unset;
  border-bottom: 6px #000000 solid;
  color: aliceblue;
  background: #1f1f1f;
  padding: 1em 2em;
  margin-top: 5px;
  margin-left: 20px;
  border-radius: 3px;
  font-size: 18px;
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;
  transition: all ease-in 0.1s;
  transition: transform ease 0.2s, box-shadow ease 0.2s;
}

.secondary.hover_green:hover {
  transform: translate(0, -3px);
}
.button:active {
  border: none;
}
.secondary:active {
  border: none;
}

.button.hover_orange:hover {
  transform: translate(0, -3px);
  background: #ff8564;
  box-shadow: 0px 0px 25px 1px #ff8564;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-end;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  gap: 20px;
  align-content: flex-start;
  justify-content: center;
}
.flex-no-center {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  gap: 20px;
  align-content: flex-start;
  justify-content: flex-start;
}
.flex-no-center-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  gap: 20px;
  align-content: flex-start;
  justify-content: right;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1px;
  row-gap: 10px;
}

.jolly {
  color: rgb(0, 0, 0);
  animation: jolly 5s linear infinite;
  font-family: "Major Mono Display", monospace;
}

.jolly-bg {
  animation: jolly-box 5s linear infinite;
}

@keyframes jolly {
  0% {
    color: #5c7cfa;
  }

  50% {
    color: #52966e;
  }

  75% {
    color: #fa8e5c;
  }

  100% {
    color: #5c7cfa;
  }
}

@keyframes jolly-box {
  0% {
    border-color: #5c7cfa;
    box-shadow: 0px 0px 20px 3px #5c7cfa;
  }

  50% {
    border-color: #52966e;
    box-shadow: 0px 0px 20px 3px #52966e;
  }

  75% {
    border-color: #fa8e5c;
    box-shadow: 0px 0px 20px 3px #fa8e5c;
  }

  100% {
    border-color: #5c7cfa;
    box-shadow: 0px 0px 20px 3px #5c7cfa;
  }
}

input {
  padding: 10px;
  all: unset;
  border-bottom: 2px solid #52966e;
}

img {
  border-radius: 10px;
}

.profile-img {
  height: 100%;
  border-radius: 100%;
  border-width: 3px;
  border-style: solid;
  width: 230px;
  animation: jolly 5s linear infinite !important;
}

footer {
  margin: 10px;
}

.nav-img {
  border-radius: 100%;
}

.flex-stuff {
  margin: 50px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.flex-stuff > * {
  display: flex;
  gap: 20px;
  overflow: auto;
}
pre,
code {
  text-align: left;
}

code {
  background: #342352;
  color: rgb(255, 191, 95);
  padding: 5px;
  border-radius: 5px;
}

.stuff {
  overflow: auto;
  padding: 30px;
}

.links {
  text-align: left;
  width: min-content;
}

.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 40%;
  margin-bottom: 20px;
  border-radius: 5px;
  /* simple shadow */
  box-shadow: 6px 6px 12px #000000;
}
.flex-youtube {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.block {
  margin-bottom: 1.5rem;
}

.content {
  text-wrap: balance;
}

