@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
  all: unset;
  scroll-behavior: smooth;
}

body {
  background-color: #121112;
  color: #ffffff;
}

@media (prefers-color-scheme: light) {
  body {
    color: #121112;
    background-color: #ffffff;
  }
}

a {
  color: #38b27d;
  text-decoration: none;
  border-bottom: 1px dashed;
  font-weight: bold;
  
}

main {
  text-align: center;
}

header > ul {
  cursor: pointer;
}

.container {
  padding: 10px;
}

h1 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

body {
  font-family: 'Roboto Mono', monospace;
}

.box {
  text-align: center;
  border: 3px solid rgb(219, 219, 219);
  padding: 9px;
  width: 400px;
  height: 200px;
  border-radius: 20px;
  position: relative;
}

.button {
  all: unset;
  color: aliceblue;
  background: #38b27d;
  padding: 1em 2em;
  margin-top: 5px;
  margin-left: 20px;
  font-size: 18px;
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;
  transition: all ease-in 0.1s;
  transition: transform ease 0.2s, box-shadow ease 0.2s;
  border-radius: 6px;
}

.secondary {
  all: unset;
  color: aliceblue;
  background: #080708;
  padding: 1em 2em;
  margin-top: 5px;
  margin-left: 20px;
  font-size: 18px;
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;
  transition: all ease-in 0.1s;
  transition: transform ease 0.2s, box-shadow ease 0.2s;
  border-radius: 6px;
}

.secondary.hover_green:hover {
  transform: translate(0, -3px);
}

.button.hover_orange:hover {
  transform: translate(0, -3px);
  background: #38b27d;
  box-shadow: 0px 0px 25px 1px #38b27d;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-end;
}

.flex-no-center {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  gap: 20px;
  align-content: flex-start;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1px;
  row-gap: 10px;
}

.profile-img {
  height: 100%;
  border-radius: 10px;
  border: 3px solid #38b27d;
}

.jolly {
  color: rgb(0, 0, 0);
  animation: jolly 5s linear infinite;
  font-family: 'Major Mono Display', monospace;
}

@keyframes jolly {
  0% {
    color: #5c7cfa;
  }

  50% {
    color: #52966e;
  }

  75% {
    color: #fa8e5c;
  }

  100% {
    color: #5c7cfa;
  }
}

@keyframes jolly-box {
  0% {
    border-color: #5c7cfa;
    box-shadow: 0px 0px 20px 3px #5c7cfa;
  }

  50% {
    border-color: #52966e;
    box-shadow: 0px 0px 20px 3px #52966e;
  }

  75% {
    border-color: #fa8e5c;
    box-shadow: 0px 0px 20px 3px #fa8e5c;
  }

  100% {
    border-color: #5c7cfa;
    box-shadow: 0px 0px 20px 3px #5c7cfa;
  }
}

input {
  padding: 10px;
  all: unset;
  border-bottom: 2px solid #52966e;
}

img {
  border-radius: 10px;
}
