@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url('https://images.pexels.com/photos/3109850/pexels-photo-3109850.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
    @apply backdrop-blur-3xl h-full;
}

.btn-primary{
    @apply bg-sky-500
    text-gray-100 
    px-3 
    py-3 
    font-bold 
    text-xl 
    drop-shadow
    rounded-lg
    hover:bg-sky-600
    active:bg-sky-700
}

.btn-secondary{
    @apply bg-slate-700
    text-white 
    px-3 
    py-3 
    font-bold 
    text-xl 
    drop-shadow
    rounded-lg
    hover:bg-slate-800
    active:bg-slate-900
}